<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 mb-3">
                <h1>Welcome to the Super-Registry</h1>
                <p>A Registration Portal For Those With Super Powers & Abilities</p>
                <h2>Would you like to enter:</h2>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6 bg-dark text-light">
                <h2>As a Villain:</h2>
                <a href=#>ENTER</a>
            </div>
            <div class="col-6 bg-light text-dark">
                <h2>As a Hero:</h2>
                <a href=#>ENTER</a>
            </div>
        </div>
    </div>
</body>
</html>